/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom styles go here */


*{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

a{
    transition: 0.2s all ease;
}
a:hover{
    transform: translateY(-4px);
}


.aboutBorder{
    border: 3px solid #b38859;
}

.gradient1{
    background:#b38859;
}

.height1{
    height: calc(100vh - 92.5px);
    font-family: 'Poppins', sans-serif;
}

.border{
    border: 3px solid #b38859;
}
.border2{
    border: 3px solid #1E1D1C;
}

.bookborder{
    border-bottom: 5px solid #b38859;
}


.borderIcon{
    border: 2px solid #b38859;
}

.hidden{
    
}

.show{

}

/* .shadownav{
    position: absolute;
    height: 500px;
    width: 500px;
    background-color: #A88B6B;
    border-radius: 15px;
    transform: rotate(60deg);
    overflow: hidden;
    z-index: -10;
} */


